<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.board.repository.UserMapper">

    <resultMap  id="userMap"        type="com.korit.board.entity.User">

        <id     property="userId"       column="user_id" />
        <result property="email"        column="email" />
        <result property="password"     column="password" />
        <result property="name"         column="name" />
        <result property="nickname"     column="nickname" />
        <result property="enabled"      column="enabled" />
        <result property="profileUrl"   column="profile_url" />

    </resultMap>


    <insert id="saveUser" parameterType="com.korit.board.entity.User">
        insert into user_tb(user_id, email, password, name, nickname, enabled)
<!--    default 값이면 알아서 채운다    -->
        values(0, #{email}, #{password}, #{name}, #{nickname}, 0)
    </insert>

    <update id="updateEnabledToEmail">
        update user_tb
        set
            enabled = 1
        where
            email = #{email}
<!--  인증이 되면 1이 된다.      -->
    </update>
    <update id="updateProfileUrl">
        update user_tb
        set
            profile_url = #{profileUrl}
        where
            email = #{email}
    </update>
    <update id="updatePassword" parameterType="com.korit.board.entity.User">
        update user_tb
        set
            password = #{password}
        where
            email = #{email}
    </update>

    <select id="checkDuplicate"
            parameterType="com.korit.board.entity.User"
            resultType="integer">

        select
            (select
            if(count(*) > 0, 1, 0)
        from
            user_tb
        where
            email = #{email}
        )
        + (select
            if(count(*) > 0, 2, 0)
        from
            user_tb
        where
            nickname = #{nickname}
        ) as result

    </select>

    <select id="findUserByEmail" resultMap="userMap">
        select
            user_id,
            email,
            password,
            name,
            nickname,
            enabled,
            profile_url
        from
            user_tb
        where
            email = #{email}

    </select>
</mapper>